:root{
    --logo-style: "Raleway", sans-serif;
    --Primary-Brand-color: #4D5AE5;
    --state-color: #404BBF;
    --Dark-color: #2E2F42;
    --Success-color: #31D0AA;
    --Txt-color: #434455;
    --Subtle-Txt-color: #8E8F99;
    --Accent-color: #E7E9FC;
    --Light-color: #F4F4FD;
    --Modal-overlay-color: #2E2F42;
    --Hero-background-color: #2E2F42;
    --White-background-color: #FFFFFF;
    --Modal-background-color: #FCFCFC;
    --bottom-color: 1px solid #e7e9fc;

}

body{
font-family: 'Roboto', sans-serif;
color: var(--Txt-color);
background-color: var(--White-background-color);
}

p,
h1,
h2,
h3,
h4, 
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}

.link{
text-decoration: none;
}

.list {
list-style: none;
}

.container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


/** ---------HEADER-------- */


.header {

    border-bottom: 1px solid #e7e9fc
}

.header-container {
    display: flex;
}

.header-navigation {
    display: flex;
    margin-right: auto;
    align-items: center;
}

.header-logo {
    font-family: var(--logo-style);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--Primary-Brand-color);
    margin-right: 76px;
    text-transform: uppercase
}

.header-logo-web {
    color: var(--Dark-color);
}

.header-contacts {
    align-items: center;
    font-style: normal;
}

.header-menu {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--Dark-color);
display: flex;
gap: 40px;
}

.header-menu-item{
    padding: 24px 0;
}

.header-menu-link {
color: var(--Dark-color);
padding: 24px 0 24px 0;
}

.header-menu-link:is(:hover, :focus) {
color: var(--state-color);
}

.header-contacts-item {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--Txt-color);
    display: flex;
    padding: 24px 0;
    margin-left: 0;
    gap: 40px;
}

.header-contacts-link {
    color: var(--Txt-color);
    }

.header-contacts-link:is(:hover, :focus) {
    color: var(--state-color);
}


/** ---------------HERO------------ */


.hero {
    background-color: var(--Dark-color);
    padding: 188px 0;
}

.hero-container {
}

.hero-title {
font-family: 'Roboto';
font-size: 56px;
line-height: 1.07;
letter-spacing: 0.02em;
color: var(--White-background-color);
background: var(--Dark-color);
display: flex;
max-width: 496px;
margin-left: auto;
margin-right: auto;
margin-bottom: 48px;
text-align: center;
}

.hero-btn {
    font-family: inherit; 
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--White-background-color);
    cursor: pointer;
    display: block;
    min-width: 169px;
    border: none;
    margin: 0 auto;
    height: 56px;
    border-radius: 4px;
    padding: 16px 32px;
    gap: 10px;
    background-color: var(--Primary-Brand-color);
}

.hero-btn:is(:hover, :focus) {
    background-color: var(--state-color);
}


/** ----------------BUSINESS------------- */


.business {
padding-top: 120px;
padding-bottom: 120px;
}



.business-info{
    display: flex;
    gap: 24px;
}

.business-info-strategy {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    color: var(--Dark-color);
}

.business-info-idea{
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--Txt-color);
max-width: 264px;
}


/** --------------SERVICE------------- */

.service{
padding-bottom: 120px;
}

.service-title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: var(--Dark-color);
    margin-bottom: 72px;
    text-align: center
    
    
}

.service-title {
text-transform: capitalize
}

.service-list{
    display: flex;
    gap: 24px;
}

.service-list-info{
    display: block;
}

/** ---------------------TEAM------------------- */


.team{
    padding: 120px 0;
    background-color: var(--Light-color);
}

.team-info {
    padding: 32px 16px;
}

.team-title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    margin-bottom: 72px;
    color: var(--Dark-color);
    text-align: center;
}

.team-title {
text-transform: capitalize
}

.team-list{
    display: flex;
    gap: 24px;
}

.team-list-member {
    background-color: var(--White-background-color);
    width: calc((100% - 3 * 24px) / 4);
    border-radius: 0 0 4px 4px;

}

.team-list-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--Dark-color);
    margin-bottom: 8px;
    text-align: center;
}

.team-list-job {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--Txt-color);
    text-align: center;
}


/** ---------------------FOOTER--------------- */


.footer{
background-color: var(--Dark-color);
padding-top: 100px;
padding-bottom: 100px;
}

.container-footer{
    display: block
    
}

.footer-logo {
    font-family: var(--logo-style);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    display: inline-block;
    margin-bottom: 16px;
    color: var(--Primary-Brand-color);
    text-transform: uppercase
}

.footer-logo-web {
    color: var(--Light-color);
}

.footer-text {
font-size: 16px;
line-height: 1.5; 
letter-spacing: 0.02em;
color: var(--Light-color);
max-width: 264px;
}


/** ---------------------------PORTFOLIO--------------------*/


.aplication-btn-all {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding: 12px 24px;
    border:var(--bottom-color);
    border-radius: 4px;
    color:  var(--Primary-Brand-color);
    cursor: pointer;
    background-color: var(--Light-color);
}
.aplication {
    padding: 96px 0 120px 0;
}

.aplication-btn-all:is(:hover, :focus) {
color: var(--White-background-color);
border: 1px solid transparent;
background-color: var(--state-color);
}

.aplication-text {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    color: var(--Dark-color);
}

.aplication-post {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--Txt-color);
}

.aplication-info{
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
}

.app-content {
    padding: 32px 16px;
    border: var(--bottom-color);
    border-top: none;
}

.aplication-click {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
}